{% load static %}
{% block content %}
{% include 'header.html' %}
    <!-- end header -->

    <div class="contactbg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contacttitlepage">
                        <h2>ADD MUSIC</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class=" col-md-6 offset-md-3">
                <div class="address">

                    <form method="POST" action="addmusic" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12">
                                <input class="contactus" name="name" placeholder="Name" type="text" >
                            </div>
                            
                            <div class="col-sm-12">
                                <input class="contactus" placeholder="musics" type="file" name="musics">
                            </div>


                              <div class="col-sm-12">
                                <input class="contactus" placeholder="emotion" type="emotion" name="emotion">
                            </div><center>
                            <div class="col-6" style="text-align: center;">
                                <button class="btn btn-danger " type="submit" name="submit" value="submit">Add</button>
                            </div></center>
                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--  footer -->
<br><br><br><br><br>
    {% include 'footer.html' %}
    {% endblock %}
