{% load static %}
{% block content %}
{% include "header.html" %}

    <!-- header section end -->
    <!-- banner section start -->
     <section class="banner_section">
        <div class="banner-main">
            <img src="{% static 'images/red tint.png' %}" width="1500" height="570" />
            <div class="container">

                <div class="text-bg relative">
                    <h1>Welcome To The EMOSIC</h1>
                    {% if request.session.uid %}
                  <!--  <a href="viewmusic">Emotion Detection</a><br><br>  -->
                    <a href="playmusic">Emotion Detection by Face</a><br><br>
                    <a href="voice">Emotion Detection by Voice</a>
                    {% endif %}
                </div>

            </div>
        </div>

    </section>

{% endblock %}
   