{% load static %}
{% block content %}
{% include 'header.html' %}
    <!-- end header -->

    <div class="contactbg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contacttitlepage">
                        <h2>Music</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class=" col-md-6 offset-md-3">
                <div class="address">

                    <table class="table table-stripped">
                        <thead>
                            <tr>
                            <th> Name</th>
                            <th>Music</th>
                            <th>Emotion</th>


                        
                            
                            </tr>
                        </thead>
                        
                        {% for i in res %}
                        
                <tr>

                    <td>{{i.name}}</td>


                            <td><video src="media/{{i.musics}}" style="width:200px; height:auto;" controls></video></td>

                            
                            <td>{{i.emotion}}</td>
                            

                            </tr>
                      
                      
                      {% endfor %}
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--  footer -->
<br><br><br><br><br>
    {% include 'footer.html' %}
    {% endblock %}
