{% load static %}
{% block content %}
{% include 'header.html' %}
    <!-- end header -->

    <div class="contactbg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contacttitlepage">
                        <h2>Playlist</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class=" col-md-6 offset-md-3">
                <div class="address">

                    <table class="table table-stripped">
                        <thead>
                            <tr>
                            <th>Emotion</th>


                        
                            
                            </tr>
                        </thead>
                        
              
                        
                    

                    <tr> <td> <a href="musichappy">Happy </td> </tr>
                    <tr> <td> <a href="musicsad">Sad </td> </tr>
                    <tr> <td> <a href="musicangry">Angry </td> </tr>
                    <tr> <td> <a href="musicneutral">Neutral </td> </tr>
                    <tr> <td> <a href="musicsup">Suprise </td> </tr>
                    <tr> <td> <a href="musicfear">Fear </td> </tr>
                    <tr> <td> <a href="musicdisgust">Disgust </td> </tr>
 

                       
                 
                      
                      
         
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--  footer -->
<br><br><br><br><br>
    {% include 'footer.html' %}
    {% endblock %}
